*.mexa64
*.o
video_modulation/TLD_source/_output/
" attempts to explore different ROIs for the city sequence; most of them fail to be tracked by TLD
video_modulation/dataset/video/city/init_*
experiments/
